<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item w-10">
                            <a class="nav-link pl-0 text-nowrap" href="/">Home<i class="fa fa-bullseye fa-fw"></i> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item w-10">
                            <a class="nav-link pl-0"  ><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">Chart</span></a>
                        </li>
                        <li class="nav-item w-10">
                            <a class="nav-link pl-0" routerLink = "/list"><i class="fa fa-cog fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item w-10">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Codeply</span></a>
                        </li>
                        <li class="nav-item w-10">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star codeply fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item w-10">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
            <app-homepage></app-homepage>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

