<div class="container">
<table mdbTable>
    <thead class="grey lighten-1 black-text">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let light of lights">
        <th scope="row">{{light.id}}</th>
        <td>{{light.lightInfo.zoneNo}}</td>
        <td>{{light.lightInfo.lightDBIdentity.dbNo}}</td>
        <td>{{light.lightInfo.lightDBIdentity.lightNo}}</td>
        <td>{{light.isTurnedOn}}</td>
      </tr>
    </tbody>
  </table>
</div>